:root {
    --main-text-color: #212121;
    --secondary-text-color: #757575;
    --nav-list-color: #212121;
    --accent-color: #2196F3;
    --bg-color: #ffffff;
    --footer-bg-color: #2F303A;
    --footer-text-color: #ffffff;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
    --logo-color-dark: #000000;
    --logo-color-light: #ffffff;
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
}

body {
    background-color: var(--bg-color);
    color: var(--main-text-color);
    font-family: var(--font-family);
    letter-spacing: 0.03em;
    font-size: 14px;
}

<<<<<<< HEAD
<<<<<<< HEAD
.container {
=======
=======
>>>>>>> 1b3bd773d6e54845254b4e577e1368e19fbb177f
.container{
>>>>>>> 1b3bd773d6e54845254b4e577e1368e19fbb177f
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    outline: 1px solid red;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_nav {
    display: flex;
    align-items: center;
}

.header_list {
    display: flex;
    gap: 30px;
}

.header_item {
    margin-right: 0px;
    flex-basis: calc((100% - 2 * 30px) / 3);
}

.header_link {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
}

.header_link_span_blue {
    color: var(--accent-color)
}

.header_list_link {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    text-decoration: none;
    padding: 20px 0;
    display: block;
}

.header_list_link.current {
    color: var(--accent-color);
}

.header_list_link:hover {
    color: var(--accent-color);
}

.header-contacts {
    display: flex;
    align-items: center;
}

.header_link_info,
.header_link_number {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    text-decoration: none;
    margin-left: 30px;
}

.header_link_info:hover,
.header_link_number:hover {
    color: var(--accent-color);
}

.heading {
    padding: 200px 0;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image:
<<<<<<< HEAD
<<<<<<< HEAD
        linear-gradient(to bottom,
            rgba(30, 30, 30, 0.4),
            rgba(0, 0, 0, 0.6)),
=======
        linear-gradient(to bottom, 
        rgba(30, 30, 30, 0.4), 
        rgba(0, 0, 0, 0.6)),
>>>>>>> 1b3bd773d6e54845254b4e577e1368e19fbb177f
=======
        linear-gradient(to bottom, 
        rgba(30, 30, 30, 0.4), 
        rgba(0, 0, 0, 0.6)),
>>>>>>> 1b3bd773d6e54845254b4e577e1368e19fbb177f
        url("../img/heading.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.heading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading_title {
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: var(--logo-color-light);
    margin-bottom: 30px;
}

.heading_button {
    text-align: center;
    background: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.06em;
    color: var(--logo-color-light);
    width: 216px;
    height: 50px;
    border: none;
    border-radius: 4px;
    padding: 15px 30px;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 0.5s ease;
}

<<<<<<< HEAD
<<<<<<< HEAD
.heading_button:hover {
=======
.heading_button:hover{
>>>>>>> 1b3bd773d6e54845254b4e577e1368e19fbb177f
=======
.heading_button:hover{
>>>>>>> 1b3bd773d6e54845254b4e577e1368e19fbb177f
    background: #1b7dcd;
}

.button {
    line-height: 162%;
    font-weight: 500;
    font-size: 16px;
    line-height: 162%;
    text-align: center;
    padding-top: 94px;
    padding-bottom: 50px;
}

.button_div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

<<<<<<< HEAD
<<<<<<< HEAD
.button_button {
=======
=======
>>>>>>> 1b3bd773d6e54845254b4e577e1368e19fbb177f
.button_button{
>>>>>>> 1b3bd773d6e54845254b4e577e1368e19fbb177f
    padding: 6px 22px;
    border: none;
    background-color: #F5F4FA;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    transition: background-color 0.5s ease;
}

.button_button:hover,
.button_button.current_button {
    background-color: var(--accent-color);
    color: var(--logo-color-light);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.projects {
    padding-bottom: 94px;
}

.projects_title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
}

.projects_list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: center;
}

.projects_subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 200%;
    letter-spacing: 0.06em;
}

<<<<<<< HEAD
<<<<<<< HEAD
.projects_item {
    flex-basis: calc((100% - 2 * 30px) / 3);
=======
.projects_item{
    flex-basis: calc( ( 100% - 2 * 30px ) /  3);
>>>>>>> 1b3bd773d6e54845254b4e577e1368e19fbb177f
=======
.projects_item{
    flex-basis: calc( ( 100% - 2 * 30px ) /  3);
>>>>>>> 1b3bd773d6e54845254b4e577e1368e19fbb177f
    transition: box-shadow 0.5s ease;
}

.projects_item img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

<<<<<<< HEAD
<<<<<<< HEAD
.projects_item:hover {
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.projects_item_div {
=======
=======
>>>>>>> 1b3bd773d6e54845254b4e577e1368e19fbb177f
.projects_item:hover{
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.projects_item_div{
<<<<<<< HEAD
>>>>>>> 1b3bd773d6e54845254b4e577e1368e19fbb177f
=======
>>>>>>> 1b3bd773d6e54845254b4e577e1368e19fbb177f
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
}

.projects_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    color: var(--secondary-text-color);
}

.about {
    padding: 94px 0;
}

.about_list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.about_item {
    flex: 1;
    margin-right: 0px;
    position: relative;
    padding-top: 170px;
    text-align: center;
}

.about_item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 270px;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-attention::before {
    background-image: url("../img/icon-attention.jpg");
}

.icon-punctuality::before {
    background-image: url("../img/icon-punctuality.jpg");
}

.icon-planning::before {
    background-image: url("../img/icon-planning.png");
}

.icon-technology::before {
    background-image: url("../img/icon-technology.jpg");
}

.about_title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 114%;
    margin-bottom: 10px;
}

.about_text {
    font-weight: 400;
    line-height: 171%;
    color: var(--secondary-text-color);
}

.portfolio {
    padding-bottom: 94px;
}

.portfolio_list {
    display: flex;
    gap: 30px;
}

.portfolio_item {
    position: relative;
    flex: 1;
    margin-right: 0px;
}

<<<<<<< HEAD
<<<<<<< HEAD
.portfolio_position {
=======
.portfolio_position{
>>>>>>> 1b3bd773d6e54845254b4e577e1368e19fbb177f
=======
.portfolio_position{
>>>>>>> 1b3bd773d6e54845254b4e577e1368e19fbb177f
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    position: absolute;
    top: 225px;
}

<<<<<<< HEAD
<<<<<<< HEAD
.portfolio_position_text {
=======
.portfolio_position_text{
>>>>>>> 1b3bd773d6e54845254b4e577e1368e19fbb177f
=======
.portfolio_position_text{
>>>>>>> 1b3bd773d6e54845254b4e577e1368e19fbb177f
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--footer-text-color);
}

.portfolio_item img {
    display: block;
    max-width: 100%;
    height: auto;
}

.portfolio_title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}

.team {
    background-color: #F5F4FA;
    padding-bottom: 94px;
    padding-top: 94px;
}

.team_list {
    display: flex;
    gap: 30px;
}

.team_item {
    flex: 1;
    border-radius: 0 0 4px 4px;
    margin-right: 0px;
    text-align: center;
    padding-bottom: 30px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.team_item img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.team_title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}

.team_subtitle {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}

.team_text {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: var(--secondary-text-color);
}

<<<<<<< HEAD
<<<<<<< HEAD
.clients {
    margin: 94px 0;
}

.clients_text {
=======
=======
>>>>>>> 1b3bd773d6e54845254b4e577e1368e19fbb177f
.clients{
    margin: 94px 0;
}

.clients_text{
<<<<<<< HEAD
>>>>>>> 1b3bd773d6e54845254b4e577e1368e19fbb177f
=======
>>>>>>> 1b3bd773d6e54845254b4e577e1368e19fbb177f
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
}

<<<<<<< HEAD
<<<<<<< HEAD
.clients_list {
=======
.clients_list{
>>>>>>> 1b3bd773d6e54845254b4e577e1368e19fbb177f
=======
.clients_list{
>>>>>>> 1b3bd773d6e54845254b4e577e1368e19fbb177f
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

<<<<<<< HEAD
<<<<<<< HEAD
.clients_item {
=======
.clients_item{
>>>>>>> 1b3bd773d6e54845254b4e577e1368e19fbb177f
=======
.clients_item{
>>>>>>> 1b3bd773d6e54845254b4e577e1368e19fbb177f
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 170px;
    height: 92px;
    transition: border 0.5s ease;
}

<<<<<<< HEAD
<<<<<<< HEAD
.clients_item:hover {
=======
.clients_item:hover{
>>>>>>> 1b3bd773d6e54845254b4e577e1368e19fbb177f
=======
.clients_item:hover{
>>>>>>> 1b3bd773d6e54845254b4e577e1368e19fbb177f
    border: 1px solid var(--accent-color);
}

.clients_icon {
<<<<<<< HEAD
<<<<<<< HEAD
    fill: #AFB1B8;
    width: 106px;
=======
    fill: #AFB1B8 ;
    width: 106px; 
>>>>>>> 1b3bd773d6e54845254b4e577e1368e19fbb177f
=======
    fill: #AFB1B8 ;
    width: 106px; 
>>>>>>> 1b3bd773d6e54845254b4e577e1368e19fbb177f
    height: 60px;
    transition: fill 0.5s ease;
}

.clients_item:hover .clients_icon {
    fill: var(--accent-color);
}

.footer {
    background-color: var(--footer-bg-color);
    padding: 60px 0;
}

<<<<<<< HEAD
<<<<<<< HEAD
.footer-container {
=======
.footer-container{
>>>>>>> 1b3bd773d6e54845254b4e577e1368e19fbb177f
=======
.footer-container{
>>>>>>> 1b3bd773d6e54845254b4e577e1368e19fbb177f
    display: flex;
    align-items: baseline;
}

.footer_link {
    display: inline-block;
    font-weight: 700;
    font-size: 26px;
    font-family: var(--second-family);
    color: var(--logo-color-light);
    padding-bottom: 20px;
}

.footer_link_span_blue {
    color: var(--accent-color)
}

.footer_text {
    font-weight: 400;
    line-height: 171%;
    color: var(--logo-color-light);
    padding-bottom: 9px;
}

.footer_link_info {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    line-height: 171%;
    color: rgba(255, 255, 255, 0.6);
    padding-bottom: 9px;
}

.footer_link_number {
    font-weight: 400;
    line-height: 171%;
    color: rgba(255, 255, 255, 0.6);
}

<<<<<<< HEAD
<<<<<<< HEAD
.footer_enjoy {
=======
.footer_enjoy{
>>>>>>> 1b3bd773d6e54845254b4e577e1368e19fbb177f
=======
.footer_enjoy{
>>>>>>> 1b3bd773d6e54845254b4e577e1368e19fbb177f
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}

<<<<<<< HEAD
<<<<<<< HEAD
.footer_enjoy_text {
=======
.footer_enjoy_text{
>>>>>>> 1b3bd773d6e54845254b4e577e1368e19fbb177f
=======
.footer_enjoy_text{
>>>>>>> 1b3bd773d6e54845254b4e577e1368e19fbb177f
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--bg-color);
    padding-bottom: 20px;
}

<<<<<<< HEAD
<<<<<<< HEAD
.social_list {
    display: flex;
}

.social_item {
=======
=======
>>>>>>> 1b3bd773d6e54845254b4e577e1368e19fbb177f
.social_list{
    display: flex;
}

.social_item{
<<<<<<< HEAD
>>>>>>> 1b3bd773d6e54845254b4e577e1368e19fbb177f
=======
>>>>>>> 1b3bd773d6e54845254b4e577e1368e19fbb177f
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--background-color);
    transition: background-color 0.5s ease;
}

<<<<<<< HEAD
<<<<<<< HEAD
.social_item:hover {
=======
.social_item:hover{
>>>>>>> 1b3bd773d6e54845254b4e577e1368e19fbb177f
=======
.social_item:hover{
>>>>>>> 1b3bd773d6e54845254b4e577e1368e19fbb177f
    color: currentColor;
    background-color: var(--accent-color);
}